.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    row-gap: 37px;
}

.gallery-item {
    display: flex;
}

.gallery-image {
    width: 360px;
    height: auto;
    display: flex;
}

a:hover {
    cursor: url(../css/img/pointer.png), pointer;
}